.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.money,
.free,
.best,
.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
