.tips-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #33335f;
  margin-top: 5rem;
  font-size: 1.5rem;
}

.timer {
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 10px;
}

.fixtures {
  display: flex;
  justify-content: center;
  text-align: center;
}

table{
  border: 1px solid black;
}

.tableHeader{
  background-color: black;
  color: white;
}
.tableHeader th {
  padding: 0.5rem;
}

.urls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.views, .banker {
  margin-top: 2rem;
  padding: 0.3rem;
  font-size: 15px ;
  margin-right: 10px;
}

.banker {
  background-color: black;
  color: white ;
}

