main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  margin-top: 8rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #33335f;
  font-size: 1.5rem;
}

.header p {
  font-size: 1.5rem;
  color: black;
}

.cards {
  display: flex;
}

.card1 h3 {
  color: #33335f;
  font-size: 1.5rem;
}

.card1 p {
 font-size: 1.3rem;
 text-align: center;
}
.card1 button {
 padding: 23px;
 background-color: #3b6707;
 font-size: 30px;
 font-weight: 600;
 color: #fff;
}
.card1 h4 {
 font-size: 27px;
}

.card1 {
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.card2 {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.card1 {
  max-width: 300px;
}

.card2 p {
  max-width: 300px;
}
